body{
    background-image: url(Bg_image/8331644.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    font-size: clamp(1.15rem, 10vw, 2rem);
}

.login_form {
    max-width: 480px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;
}

.input_field {
    display: flex;
    flex-direction: column;
    width: 77%;
}

.input_field1, .input_field2 {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1.2rem;
    outline: none;
}

.input_field1 {
    margin-bottom: 30px;
}

.input_field1:focus,
.input_field2:focus {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

.input_field1::placeholder,
.input_field2::placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.Fp {
    width: 77%;
    color: #fff;
    font-size: 13px;
    text-align: end;
    padding-right: 0.8rem;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button {
    width: calc(100% - 8rem);
    border-radius: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
    margin: 2rem 4rem 0 4rem;
    padding: 0.37rem 0;
    transition: opacity 0.5s 0.1s;
}

button:hover {
    opacity: 1;
}

.footer {
    width: 90%;
    margin-top: 0.2rem;
    text-align: center;
    font-size: clamp(0.7rem, 3vw, 0.9rem);
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer a:hover{
    text-decoration: underline;
}